{% extends "base.html" %}

<!--
    Copyright 2009 Oregon State University

    This file is part of Pydra.

    Pydra is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Pydra is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Pydra.  If not, see <http://www.gnu.org/licenses/>.
-->

{% load pydra_extras %}

{% block head %}
    {{ block.super }}
        <script>
            var can_run_tasks = {% if perms.pydra_server.can_run_tasks %}true{%else%}false{%endif%};

            $(document).ready(function() {
                $('.button_rerun').live('click', function(evt) {
                    $.post('/jobs/run/', {'key':'{{task_key}}'});
                });
            });
        </script>

        <style>
            #content { padding-top:30px; }
  
            .label {
                float:left;
                font-weight:bold;
                min-width:75px;
            }
 
            #description {
                float:left;
                height:100px;
                margin-right:30px;
                width: 450px;
            }
         
            #status {
                -moz-border-radius:5px;
                border:1px solid black;
                float:right;
                line-height:15px;
                padding:5px;
                width:160px;
            }

            #status._-2, #status._-1, #status._0 {
                border-color:red;
            }
            #status._1, #status._3{
                background-color:#c2e192;
                border-color:#124612;
                color:#124612;
            }
            #status.status_2 {border-color:yellow;}

            #workunits {
                border: 0px solid black;
                border-spacing:0;
                border-collapse:collapse;
                margin-top:20px;
                width:100%;
            }

            th {
                background-color:#888888;
                border:1px solid black;
                color:white;
            }

            th.title { background-color:#666666; }

            td {
                border-bottom: 1px dotted #444444;
                border-left: 1px dotted #444444;
                border-right:1px dotted #444444;
            }

            td, th {
                padding-left:5px;
                padding-right:5px;
            }

            tr.stripe td { background-color:#f6f9fb }

            .buttons { width: 5.25em; }

            .status { width:18px; padding-right:1px;}
            .task_id     { width:70px; }
            .queue_time, .start_time, .buttons, .completion_time {
                text-align:center;
            }
            .queue_time, .start_time, .completion_time {
                width:11em;
            }

            .buttons a, .buttons a:hover, .buttons a:visited, .buttons a:active {
                color:blue;
            }

            .button_run{
                background-image:url({{MEDIA}}/images/icons/cog_go.png);
            }

            .button_log .icon {
                background-image:url({{MEDIA}}/images/icons/book_open.png);
            }

            .button_cancel {
                background-image:url({{MEDIA}}/images/icons/delete.png);
            }


        </style>
{% endblock %}

{% block submenu %}
{% endblock %}

{% block content %}
        <div id="details">
            <div id="description">
                <div class="label">Name:</div><div>{{task.name}}</div>
                <div class="label">Description:</div><div>{{task.description}}</div>
            </div>
            <div id="run">
                <div id="status" class="_{{task.details.status}}">
                    {{task.details.status|task_status}}{{task.details.status|task_status_text|capfirst}}
                </div>
                <div class="label">Queued:</div><div>{{task.details.queued|default:"--"}}</div>
                <div class="label">Started:</div><div>{{task.details.started|default:"--"}}</div>
                <div class="label">Completed:</div><div>{{task.details.completed|default:"--"}}</div>
            </div>
        </div>

        {% if task.workunits %}
        <table id="workunits">
            <thead>
                <tr><th colspan="100%" class="title">Work Units</th></tr>
                <tr>
                    <th class="status"></th>
                    <th class="subtask_key">Subtask</th>
                    <th class="workunit_key">Workunit Key</th>
                    <th class="args">Arguments</th>
                    <th class="start_time">Started</th>
                    <th class="completion_time">Completed</th>
                </tr>
            </thead>

            {% for workunit in task.workunits %}
                <tr id="instance_{{instance.id}}" class="{% cycle '' 'stripe' %}">
                    <td class="status">{{workunit.status|task_status}}</td>
                    <td class="subtask_key">{{workunit.subtask_key}}</td>
                    <td class="workunit_id">{{workunit.workunit_key}}</td>
                    <td class="args">{{workunit.args}}</td>
                    <td class="start_time">{{workunit.started|default:"--"}}</td>
                    <td class="completion_time">{{workunit.completed|default:"--"}}</td>
               </tr>
            {% endfor %}
        </table>
        {% endif %}

{% endblock %}
