<style>
    div#headerContainer {
        padding:0px;
        text-align:center;
        margin-bottom:10px;
    }

    div#mainmenu { 
        color:white;
        background-color:#1854d0;
        padding:0px;
        margin:0px;
    }

    div#submenu { 
        background-color:#707070;
        padding:0px;
        margin:0px;
    }

    span.menuitem {
        margin: 0px;
        padding-left: 5px;
        padding-right:5px;
        border-style: solid;
        border-width: 0px 1px 0px 0px;
        border-color:black;
    }

    span.lastmenuitem {
        border: 0px;
    }

    span.results {
        position:absolute;
        left:20px;
        font-weight:bold;
    }

    a.mainmenuitem {
        font-size:14px;
    }

    a:link { 
        color:white; 
        text-decoration:none; 
    }
    .menuitem a           { color:white; text-decoration:none; }
    .menuitme a:visited           { color:white; text-decoration:none; }
    .menuitem a:hover             { color:white; text-decoration:underline; }
    .menuitem a:active            { color:white; text-decoration:none;}
</style>

<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}/css/main.css" />

<div id="headerContainer">
    <div id="mainmenu">
        <span class="menuitem "><a class="mainmenuitem" href="{{SITE_ROOT}}/nodes">Nodes</a></span>
        <span class="menuitem"><a class="mainmenuitem" href="{{SITE_ROOT}}/jobs">Jobs</a></span>
        <span class="menuitem lastmenuitem"><a class="mainmenuitem" href="{{SITE_ROOT}}/logout">Logout</a></span>
    </div>
    {% if nodes %}
        <div id="submenu">
            <span class="menuitem"><a href="{{SITE_ROOT}}/nodes/edit">Create Node</a></span>
            <span class="menuitem"><a href="{{SITE_ROOT}}/nodes/discover">Discover Nodes</a></span>
        </div>
    {% endif %}
    {% if jobs %}
        <div id="submenu">
            <span class="menuitem"><a href="{{SITE_ROOT}}/jobs/schedule">Edit Search</a></span>
            <span class="menuitem"><a href="{{SITE_ROOT}}/jobs/edit">Plot</a></span>
        </div>
    {% endif %}
</div>
