{% block head %}
        <style>
            
            * {
                margin:0;
                padding:0;
            }
            
            #log {
                background:#eee;
                border:2px solid #999;
                overflow:auto;
                max-height:300px;
                font-size:.9em;
            }
            
            
            #log td {
                border-bottom: 1px dotted #444444;
                border-left: 0;
                border-right:0;
                width:100%;
            }

            #log td, th {
                padding-left:5px;
                padding-right:5px;
            }
            
            #log td.last {
                border-bottom:0;
            }

            .logstripe { background-color:#f6f9fb; }
            
            .logtable {
                width:100%;
                border-collapse:collapse;
            }
            .workunit {
                background-color:#c2e192;
                border-top: 1px dotted #124612;
                border-bottom: 1px dotted #124612;
                cursor:pointer;
            }
            
            #log .workunit.visible {
                border-top:3px solid #124612;
                border-bottom:2px dashed #124612;
            }
            
            #log .workunit.visible {border-left:5px solid #124612;}
            
            .workunitlog { display:none;}
            .workunitlog .logtable {
                border-bottom:3px solid #124612;
                border-left:5px solid #124612;
            }

            .workunitlog .logtable td{
                padding-left: 5px;
            }

            .error {color:#c83737;}
            .warn {color:orange;}
            .info {color:black;}
            .debug {color:#666666;}

        </style>
        <script>
            function wu_log_onclick(td, task_id, subtask, workunit_id) {
                if ( $('#'+workunit_id).is(':visible') ) {
                    $('#'+workunit_id).slideUp('slow');
                    $(td).removeClass('visible');
                }
                else if ( $('#'+workunit_id).is(':hidden') ) {
                    $.get('/jobs/history/detail/log/', 
                            {task_id:task_id, subtask:subtask, workunit_id:workunit_id},
                            function(data) {
                                $('#'+workunit_id)
                                    .html(data)
                                    .slideDown('slow');
                            });
                    $(td).addClass('visible');
                }
            }
        </script>
{% endblock %}

<div id="log">
{% include "log_lines.html" %}
</div>

