
<!--
    Copyright 2009 Oregon State University

    This file is part of Pydra.

    Pydra is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Pydra is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Pydra.  If not, see <http://www.gnu.org/licenses/>.
-->
{% extends "base.html" %}
{% load pydra_extras %}

    {% block head %}
        {{ block.super }}
        <style>
            table {
                width:90%;
                margin-left:5%;
            }

            #cluster {
                border: 1px solid black;
                margin-top:10px;
            }

            #nodes {
                border: 1px solid black;
                margin-top:20px;
            }

            td, th{
                padding-left:10px;
                padding-right:10px;
                text-align:center;
            }

            td.status {
                border: 1px solid black;
                background-color: gray;
                width:100px;
            }

            td.status_connected {
                background-color:#c2e192;
            }
            td.status_disconnected {
                background-color:#ee9c98;
            }

            #content {
                text-align:center;
            }

            #master_errors {
                width:90%;
                margin-left:5%;
                margin-top:20px;
                margin-bottom:20px;
                padding-top:5px;
                padding-bottom:5px;
                background-color:#ee9c98;
                border: 1px solid black;

            }

            .node_workers_status_connected {
                color:green;
            }

            .node_workers_status_disconnected {
                color:red;
            }

        </style>

        <script type="text/javascript" src="{{MEDIA_URL}}/js/jquery-1.2.6.js"></script>
        <script type="text/javascript">

            var worker_count = -1;

            function process_status_update(data) {
                console.log(data);
                if (data == false) {
                    $('#master_errors').show();
                } else {
                    $('#master_errors').hide();
                    process_worker_updates(data)
                }
            }

            function process_worker_updates(updateMsg) {
                workers_busy = 0;
                worker_count = 0;

                for (key in updateMsg){
                    node = updateMsg[key];
                    node_status = node['status'];
                    node_worker_connected = 0;
                    $node = $('#node_' + key);

                    if (node_status == 1) {
                        $node.children('.status').removeClass('status_disconnected').addClass('status_connected').html('connected')
                    } else {
                        $node.children('.status').addClass('status_disconnected').removeClass('status_connected').html('disconnected')
                    }

                    workers = node['workers'];
                    if (workers == -1) {
                        //alert('workers are not known');
                    } else {
                        for (worker_key in workers) {
                            worker_count += 1;
                            worker = workers[worker_key];
                            $worker = $('#worker_' + worker_key);
                            $status = $worker.children('.status');
                            $task = $worker.children('.task');

                            // is worker connected
                            if (worker == -1){
                                //worker is disconnected
                                $status.removeClass('status_connected').addClass('status_disconnected').html('disconnected')
                                $task.html('Unknown');

                            } else {
                                // worker is connected
                                node_worker_connected += 1;
                                $status.removeClass('status_disconnected').addClass('status_connected').html('connected')
                                // what is worker doing
                                if (worker[1] != -1 && worker[2] != -1) {
                                    // worker is working on subtask
                                    $task.html(worker[1]+':'+worker[2]);
                                    workers_busy += 1;
                                } else if (worker[1] != -1) {
                                    // worker is working on task
                                    $task.html(worker[1])
                                    workers_busy += 1;
                                } else {
                                    //worker is idle
                                    $task.html('idle')
                                }
                            }
                        }
                    }

                    // worker status summary
                    $node.children('.node_worker_status').children('.connected').html(''+node_worker_connected);
                    $node_status = $node.children('.node_worker_status');
                    if (node_worker_connected == 0) {
                        $node_status.removeClass('node_workers_status_connected');
                        $node_status.removeClass('node_workers_status_partial');
                        $node_status.addClass('node_workers_status_disconnected');
                    } else {
                        total_workers = parseInt($('#node_' + key + ' .node_worker_status .total').html());
                        if (node_worker_connected == total_workers) {
                            $node_status.addClass('node_workers_status_connected');
                            $node_status.removeClass('node_workers_status_partial');
                            $node_status.removeClass('node_workers_status_disconnected');
                        } else {
                            $node_status.removeClass('node_workers_status_connected');
                            $node_status.addClass('node_workers_status_partial');
                            $node_status.removeClass('node_workers_status_disconnected');
                        }
                    }

                }
                $('#capacity').html(workers_busy + ' of ' + worker_count + ' busy');
            }

            function update() {
                //ajax call to status
                $.getJSON('{{SITE_ROOT}}/nodes/status/',{},process_status_update);

                //rerun this update in 5 seconds
                setTimeout('update()', 5000);
            }

            $(document).ready(function() {
               update()
            });

        </script>
{% endblock %}

{% block submenu %}
    {% if nodes and perms.pydra_server.can_edit_nodes %}
        <span class="menuitem"><a class="menuitem" href="{{SITE_ROOT}}/nodes/edit">Create Node</a></span>
        <span class="menuitem lastmenuitem"><a class="menuitem" href="{{SITE_ROOT}}/nodes/discover">Discover Nodes</a></span>
    {% endif %}
{% endblock %}

{% block content %}

        <div id="master_errors" {% if controller.is_alive %}style="display:none;"{% endif %}>
            Master Node is not running. 
        </div>


        <table id="cluster">
            <tr>
                <td>Capacity</td>
                <td id="capacity">[3 of 5 workers busy]</td>
            </tr>
            <tr>
                <td>Speed</td>
                <td></td>
            </tr>
            <tr>
                <td>Memory</td>
                <td></td>
            </tr>
        </table>

        <table id="nodes">
        <thead>
            <tr id='header_top'>
                <th rowspan="2">Status</th>
                <th rowspan="2">Host</th>
                <th rowspan="2">Port</th>
                <th colspan="3">Workers</th>
            </tr>
            <tr id='header_bottom'>
                <th>Status</th>
                <th>Count</th>
                <th>Cores</th>
            </tr>
        </thead>
        <tbody>
            {% for node in nodes.object_list %}
                <tr id="node_{{node.id}}">
                    <td class="status">Unknown</td>
                    <td>
                        {% if perms.pydra_server.can_edit_nodes %}
                            <a href="{{SITE_ROOT}}/nodes/edit/{{node.id}}">{{node.host}}</a>
                        {% else %}
                            {{node.host}}
                        {% endif %}
                    </td>
                    <td class="port">{{node.port}}</td>
                    <td class="node_worker_status"><span class="connected">Unknown</span> of <span class="total">{{node|available_cores}}</span></td>
                    <td>{{node|available_cores}}</td>
                    <td>{{node.cores}}</td>
                </tr>
                <tr>
                    <td colspan="100%">
                        <table>
                        <tr id='header_top'>
                            <th>Status</th>
                            <th>Id</th>
                            <th>Task</th>
                        </tr>
                        {% for id in node|node_range %}
                            <tr id="worker_{{node.id}}_{{id}}">
                                <td class="status">Unknown</td>
                                <td>{{forloop.counter}}</td>
                                <td class="task">Unknown</td>
                            </tr>
                        {% endfor %}
                        </table>
                    </td>
                </tr>

            {% endfor %}
        </tbody>
        </table>
{% endblock %}

