
<!--
    Copyright 2009 Oregon State University

    This file is part of Pydra.

    Pydra is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Pydra is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Pydra.  If not, see <http://www.gnu.org/licenses/>.
-->
{% extends "base.html" %}
{% load pydra_extras %}

    {% block head %}
        {{ block.super }}
        <style>

            td, th {
                margin:0;
                padding:0;
                text-align:center;
            }

            #cluster, #nodes {
                width:100%;
            }

            #cluster {
                margin-top:10px;
            }

            #nodes {
                margin-top:20px;
                border-collapse:collapse;
                border-spacing:0px;
            }

            #master_errors {
                background-color:#ee9c98;
                border: 2px solid #c83737;
                color:#550000;
                font-weight:bold;
                font-size:110%;
                margin-top:20px;
                margin-bottom:20px;
                padding-top:5px;
                padding-bottom:5px;
                text-align:center;
                width:100%;
            }

            #header_top th {
                color:white;
                background-color:#666666;
                border: 1px solid black;
            }

            #header_bottom th {
                color:white;
                background-color:#888888;
                border-top: 1px dotted black;
                border-bottom: 1px solid black;
            }

            #header_bottom th {
                border-right:1px solid black;
            }

            #header_bottom th.status, #header_bottom th.id {
                border-right:2px dotted #444444;
            }

            .status, #header_top th.status {width:100px;}
            .host, #header_top .host {width:300px;}
            .port {width:60px;}
            .id {width:60px;}
            #header_top th.workers {
                border-bottom:1px solid #444444;
            }

            tr.node td table{
                border-collapse:collapse;
                border-spacing:0px;
                border-bottom:1px dotted #333333;
                width:100%;
            }

            .toggle {
                background-image:url({{MEDIA}}/images/icons/bullet_toggle_plus.png);
                background-repeat:no-repeat;
                float:left;
                height:16px;
                margin-left:3px;
                margin-top:5px;
                width:16px;
            }

            .toggle_expand {
                background-image:url({{MEDIA}}/images/icons/bullet_toggle_minus.png);
            }

            .node_worker_status {
                text-align:left;
            }

            td.status .inner {
                background-color:#cccccc;
                border:1px solid black;
                margin:2px;
                width:96px;
            }

            .worker td.status .inner {
                margin-bottom:0;
            }

            .worker.last td.status .inner {
                margin-bottom:4px;
            }

            td.status .status_connected {
                background-color:#c2e192;
                border-color:#124612;
                color:#124612;
            }

            td.status .status_disconnected {
                background-color:#ee9c98;
                border-color:#550000;
                color:#550000;
            }

            td.host {padding-left:10px; text-align:left; width:290px;}

            .node_workers_status_connected {
                font-weight:bold;
                color:green;
            }

            .node_workers_status_disconnected {
                font-weight:bold;
                color:#c83737;
            }

            .node_workers_status_partial {
                font-weight:bold;
                color:orange;
            }
        </style>

        <script type="text/javascript" src="{{MEDIA_URL}}/js/jquery-1.3.1.min.js"></script>
        <script type="text/javascript">

            var worker_count = -1;

            function process_status_update(data) {
                if (data == false) {
                    $('#master_errors').show();
                } else {
                    $('#master_errors').hide();
                    process_worker_updates(data)
                }
            }

            function process_worker_updates(updateMsg) {
                workers_busy = 0;
                worker_count = 0;

                for (key in updateMsg){
                    node = updateMsg[key];
                    node_status = node['status'];
                    node_worker_connected = 0;
                    $node = $('#node_' + key);

                    if (node_status == 1) {
                        $node.find('.status .inner').removeClass('status_disconnected').addClass('status_connected').html('connected')
                    } else {
                        $node.find('.status .inner').addClass('status_disconnected').removeClass('status_connected').html('disconnected')
                    }

                    workers = node['workers'];
                    if (workers == -1) {
                        //alert('workers are not known');
                    } else {
                        for (worker_key in workers) {
                            worker_count += 1;
                            worker = workers[worker_key];
                            $worker = $('#worker_' + worker_key);
                            $status = $worker.find('.status .inner');
                            $task = $worker.children('.task');

                            // is worker connected
                            if (worker == -1){
                                //worker is disconnected
                                $status.removeClass('status_connected').addClass('status_disconnected').html('disconnected')
                                $task.html('Unknown');

                            } else {
                                // worker is connected
                                node_worker_connected += 1;
                                $status.removeClass('status_disconnected').addClass('status_connected').html('connected')
                                // what is worker doing
                                if (worker[1] != -1 && worker[2] != -1) {
                                    // worker is working on subtask
                                    $task.html(worker[1]+':'+worker[2]);
                                    workers_busy += 1;
                                } else if (worker[1] != -1) {
                                    // worker is working on task
                                    $task.html(worker[1])
                                    workers_busy += 1;
                                } else {
                                    //worker is idle
                                    $task.html('idle')
                                }
                            }
                        }
                    }

                    // worker status summary
                    $node_status = $node.find('.node_worker_status');
                    $node_status.children('.connected').html(''+node_worker_connected);

                    if (node_worker_connected == 0) {
                        // no workers connected
                        $node_status.removeClass('node_workers_status_connected');
                        $node_status.removeClass('node_workers_status_partial');
                        $node_status.addClass('node_workers_status_disconnected');
                    } else {
                        //workers connected, how many?
                        total_workers = parseInt($node_status.children('.total').html());
                        if (node_worker_connected == total_workers) {
                            $node_status.addClass('node_workers_status_connected');
                            $node_status.removeClass('node_workers_status_partial');
                            $node_status.removeClass('node_workers_status_disconnected');
                        } else {
                            $node_status.removeClass('node_workers_status_connected');
                            $node_status.addClass('node_workers_status_partial');
                            $node_status.removeClass('node_workers_status_disconnected');
                        }
                    }

                }
                $('#capacity').html(workers_busy + ' of ' + worker_count + ' busy');
            }

            function update() {
                //ajax call to status
                $.getJSON('{{ROOT}}/nodes/status/',{},process_status_update);

                //rerun this update in 5 seconds
                setTimeout('update()', 5000);
            }

            $(document).ready(function() {
                update();

                // toggle buttons for hiding/showing worker details
                $('.toggle').live('click',function(){
                    $this = $(this);
                    worker_id = this.parentNode.parentNode.parentNode.parentNode.parentNode.parentNode.id.slice(5);
                    $workers = $('#nodes tr[id^=worker_'+worker_id+'_]');

                    if ($this.hasClass('toggle_expand')) {
                        $this.removeClass('toggle_expand');
                        $workers.each(function(index, worker){
                            $(worker).hide();
                        });

                    } else {
                        $this.addClass('toggle_expand');
                        $workers.each(function(index, worker){
                            $(worker).show();
                        });
                    }
                });
            });

            function worker_expander($workers, index) {
                $workers.eq(index).slideDown(300, function(){
                    if (index+1 < $workers.size()) {
                        worker_expander($workers, index+1)
                    }
                });
            }

        </script>
{% endblock %}

{% block submenu %}
    {% if nodes and perms.pydra_server.can_edit_nodes %}
        <span class="menuitem"><a class="menuitem" href="{{SITE_ROOT}}/nodes/edit">Create Node</a></span>
        <span class="menuitem lastmenuitem"><a class="menuitem" href="{{SITE_ROOT}}/nodes/discover">Discover Nodes</a></span>
    {% endif %}
{% endblock %}

{% block content %}

        <div id="master_errors" {% if controller.is_alive %}style="display:none;"{% endif %}>
            Master Node is not running.
        </div>


        <table id="cluster">
            <tr>
                <td>Capacity</td>
                <td id="capacity">[3 of 5 workers busy]</td>
            </tr>
            <tr>
                <td>Speed</td>
                <td></td>
            </tr>
            <tr>
                <td>Memory</td>
                <td></td>
            </tr>
        </table>

        <table id="nodes">
        <thead>
            <tr id='header_top'>
                <th rowspan="2" class="status">Status</th>
                <th rowspan="2" class="host">Host</th>
                <th class="port" rowspan="2">Port</th>
                <th colspan="3" class="workers">Workers</th>
            </tr>
            <tr id='header_bottom'>
                <th class="status">Status</th>
                <th class="id">Id</th>
                <th>Task</th>
            </tr>
        </thead>
        <tbody>
            {% for node in nodes.object_list %}
                <tr id="node_{{node.id}}" class="node {% if not forloop.first%}notfirst{%endif%}"><td colspan="100%">
                <table>
                    <tr>
                    <td class="status"><div class="inner">Unknown</div></td>
                        <td class="host">
                            {% if perms.pydra_server.can_edit_nodes %}
                                <a href="{{SITE_ROOT}}/nodes/edit/{{node.id}}">{{node.host}}</a>
                            {% else %}
                                {{node.host}}
                            {% endif %}
                        </td>
                        <td class="port">{{node.port}}</td>
                        <td class="node_worker_status status"><div title="expand" class="toggle"></div><span class="connected">???</span> of <span class="total">{{node|available_cores}}</span></td>
                        <td></td>
                        <td></td>
                    </tr>
                        {% for id in node|node_range %}
                            <tr id="worker_{{node.id}}_{{id}}" class="worker {% if forloop.last %}last{% endif %}" style="display:none;">
                                <td colspan="3"></td>
                                <td class="status"><div class="inner">Unknown</div></td>
                                <td class="id">{{forloop.counter}} </td>
                                <td class="task">Unknown</td>
                            </tr>
                        {% endfor %}
                     </table>
                </td></tr>
            {% endfor %}
        </tbody>
        </table>
{% endblock %}

