{% extends "base.html" %}

<!--
    Copyright 2009 Oregon State University

    This file is part of Pydra.

    Pydra is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Pydra is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Pydra.  If not, see <http://www.gnu.org/licenses/>.
-->

{% load pydra_extras %}

{% block head %}
    {{ block.super }}
        <script src="{{MEDIA}}/js/jquery-1.3.2.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="{{MEDIA}}/js/json2.js" type="text/javascript" charset="utf-8"></script>
        <script src="{{MEDIA}}/js/jquery.progressbar.js" type="text/javascript" charset="utf-8"></script>
        <script src="{{MEDIA}}/js/date.format.js" type="text/javascript" charset="utf-8"></script>
        <script src="{{MEDIA}}/js/jquery.qtip-1.0.0-rc3.min.js" type="text/javascript" charset="utf-8"></script>

        <script>
            var can_run_tasks = {% if perms.pydra_server.can_run_tasks %}true{%else%}false{%endif%};

            $(document).ready(function() {

               $('#running .progress .bar')
                    .progressBar({width:300,
                                    barImage:'{{MEDIA}}/images/progressbg_yellow_300.gif',
                                    boxImage:'{{MEDIA}}/images/progressbar_300.gif'
                    });

                /*
                  Run - runs a task.  If there is a form attached to the task
                        it will be displayed for the user to enter values.
                */
                $('.button_run').live('click', function(evt) {
                    key = evt.target.parentNode.parentNode.id;
                    $form = $('#form_' + key);
                    if ($form.length) {
                        $('.input_form').hide();
                        html_width = $('html').width();
                        left = (html_width/2) - ($form.width()/2);
                        $form.css('left',left);
                        $form.show();
                    } else {
                        $.post('run/', {'key':key}, process_queued_task, 'json');
                    }
                });


                /* 
                   Run (from form) - Process an input form and submit the task.
                         This involves iterating all elements in the form and
                         building a dictionary of the values.  This dictionary
                         will be fed into the Task as its starting args.
                */
                $('.button_form_run').live('click', function(evt) {
                    task_key = evt.target.parentNode.parentNode.id.slice(5);
                    $form = $('#form_'+ task_key);
                    $inputs = $form.find(' input');
                    args = {};
                    for (i=0; i<$inputs.length; i++) {
                        input = $inputs.get(i);
                        args[input.id.slice(3)]= $(input).val();
                    }

                    //clear errors
                    $form.find('.errors').empty();

                    post_args = {'key':task_key, 'args':JSON.stringify(args)};
                    $.post('run/', post_args, process_queued_task, 'json');
                });

                /*
                    Cancel Task - sends a request to cancel a task, may not happen right away
                */
                $('.button_cancel').live('click', function(evt) {
                    $.post('cancel/', {'i':evt.target.parentNode.parentNode.id.slice(9)});
                });


                /*
                    Input Form Close - hide the input form
                */
                $('.button_close').live('click', function(evt) {
                    // blur each input to ensure the tooltips hide
                    $(evt.target.parentNode).children('input')
                        .each(function(){this.blur();})

                    // hide the window and clear errors
                    $form = $(evt.target.parentNode.parentNode)
                    $form.hide();
                    $form.find('.errors').empty();
                });


                /* Setup tooltips for all inputs on all forms */
                $('.input_form input').each(function (){
                    $parent = $(this.parentNode)
                    title = $parent.attr('title')
                    $parent.attr('title','');

                    $(this).qtip({
                        content: title,
                        position: {
                            corner: {
                                tooltip: 'leftMiddle',
                                target: 'rightMiddle'
                            }
                        },
                        show: {
                            when: {event:'focus'},// show on focus
                        },
                        hide: false, // Don't hide on mouseout
                        style: {
                            border: {
                                width: 2,
                                radius: 5
                            },
                            padding: 10, 
                            textAlign: 'center',
                            tip: true, // Give it a speech bubble tip with automatic corner detection
                            name: 'green' // Style it according to the preset 'green' style
                        }
                    })
                    //standard blur event handler since qtip one is broken.
                    .blur(function(){$(this).qtip('hide')});

                });

                update();
            });


            /*
                displays errors for an input form
            */
            function process_queue_errors(data) {
                errors = data['errors'];
                key = data['task_key'];
                $form = $('#form_' + key);

                $errors = $form.find('.errors');
                $errors.empty();

                for (key in errors) {
                    html = "<li><strong>"+ key + " - </strong>" + errors[key][0] + "</li>";
                    $errors.append(html);
                }
            }


            /* processes the response when queuing a task */
            function process_queued_task (data){

                // check for errors
                if (data['errors'] != undefined)
                    return process_queue_errors(data);

                // create html for entry
                task_name = data['task_key']
                task_instance = data['instance_id']
                task_description = $('#' + task_name).find('.description').html();

                // hide form if any
                $('#form_'+ task_key).hide();

                time = new Date(parseInt(data['time'])*1000);
                formated_time = dateFormat(time, "yyyy-mm-dd HH:MM:ss")


                // construct html
                html =  '<tr id="instance_'+ task_instance +'">';
                html += '<td class="task_id">'+task_instance+'</td>';
                html += '<td class="task_name">'+ task_name +'</td>';
                html += '<td class="description">'+task_description+'</td>';
                html += '<td class="progress" style="display:none;"><div class="bar"></div></td>';
                html += '<td class="queue_time">' + formated_time +'</td>';

                if (can_run_tasks) {
                    html += '<td class="buttons"><div class="button_cancel icon" title="cancel"></div></td>'
                } else {
                    html += '<td></td>'
                }
                html += '</tr>'

                $('#queue').append(html);
                repaint_zebra_stripes('#queue');
            }


            var STATUS_CANCELLED = -2;
            var STATUS_FAILED = -1;
            var STATUS_STOPPED = 0;
            var STATUS_RUNNING = 1;
            var STATUS_PAUSED = 2;
            var STATUS_COMPLETE = 3;

            /* process the progress message from the update */
            function processProgressData(data) {
                /*
                    Process queue changes by iterating each row from the queue
                    and running tables.  The status list will only contain
                    queued or running tasks so we can check status changes
                    from queued to running, and any absent tasks have completed
                    or stopped.
                */
                $('#queue tr:gt(1), #running tr:gt(1)').each(function(row){
                    id = this.id.slice(9);
                    status = data[id];

                    if (status == undefined) {
                        $(this).remove();
                    } else if (status['s'] == STATUS_RUNNING) {
                        $this = $(this);
                        if (this.parentNode.parentNode.id == 'queue') {

                            // move row to running table
                            $('#running').append(this);

                            //swap description with progress bar
                            $this.children('.description').remove();
                            $this.children('.progress').show();
                            $this.children('.progress').children('.bar')
                                .progressBar({width:300,
                                              barImage:'{{MEDIA}}/images/progressbg_yellow_300.gif',
                                              boxImage:'{{MEDIA}}/images/progressbar_300.gif'
                                });

                            // insert time started element
                            started = new Date(parseInt(status['t'])*1000);
                            started = dateFormat(started, "yyyy-mm-dd HH:MM:ss")
                            $this.children('.queue_time').after('<td class="start_time">'+ started +'</td>')

                        } else {
                            $this.children('.progress').children('.bar').progressBar(status['p']);
                        }
                    }

                    //updatebars(data);

                });

                repaint_zebra_stripes('#queue');
                repaint_zebra_stripes('#running');

            }


            /*
                update the zebra striping for a table.  This is required after
                an item has been removed from the middle of the list, or the
                order of the list has been changed
            */
            function repaint_zebra_stripes(table) {

                stripe = false;
                $(table + ' tr:gt(1)').each(function(index, row){
                    if (stripe) {
                        $(row).addClass('stripe');
                        stripe = false;
                    } else {
                        $(row).removeClass('stripe');
                        stripe = true;
                    }
                });
            }


            function update() {
                $.getJSON('progress/', {}, processProgressData);
                setTimeout('update()', 5000);
            }

        </script>

        <style>
            #content {
                padding-top:30px;
            }

            th {
                background-color:#888888;
                border:1px solid black;
                color:white;
            }

            th.title {
                background-color:#666666;
            }

            td {
                border-bottom: 1px dotted #444444;
                border-left: 1px dotted #444444;
                border-right:1px dotted #444444;
            }

            td, th {
                padding-left:5px;
                padding-right:5px;
            }

            #tasks, #queue, #running {
                border: 0px solid black;
                border-spacing:0;
                border-collapse:collapse;
                margin-top:30px;
                width:100%;
            }

            tr.stripe td {
                background-color:#f6f9fb
            }

            .buttons {
                width: 5.25em;
            }

            .task_id { width:70px; }
            .task_name { width:150px; }
            .task_name { width:150px; }
            .queue_time, .start_time, .buttons, .last_run {
                text-align:center;
            }
            .queue_time, .start_time, .last_run {
                width:11em;
            }


            .buttons a, .buttons a:hover, .buttons a:visited, .buttons a:active {
                color:blue;
            }

            .input_form {
                background-color:rgba(100, 100, 100, 0.4);
                display:none;
                margin-left:auto;
                margin-right:auto;
                min-width:300px;
                padding:8px;
                position:absolute;
                text-align:center;
                top:140px;
                -moz-border-radius: 10px;
                -webkit-border-radius: 10px;
            }

            .inner {
                background-color:white;
                padding:15px;
                border:1px solid #333333;
                opacity: 1;
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
            }

            .input_form h2, .input_form h2 .label { font-size:115%; }
            .input_form h2 { font-weight:normal;                 border-bottom: 1px solid #666666;}
            .input_form h2 .label { color:green; }
            .input_form td { border:0px; }
            .input_form .description { 
                border-bottom: 1px solid #666666;
                color:#444444;
                font-size:95%;
                margin-bottom:15px;
                text-align:justify;
            }

            .input_form input {
                border: 1px solid #bbbbbb;
            }
            .input_form label { color:#444444; font-size:90%; font-weight:bold }
            .input_form button { margin-top:10px; }
            .input_form .button_close {
                position:absolute;
                top:12px;
                right:7px;
            }

            .input_form .errors { color:#c83737; }

        </style>
        <!--[if IE]>

        <style type="text/css">
            .input_form {
                background:transparent;
                filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000050,endColorstr=#99000050);
                zoom: 1;
                }
        </style>

<![endif]-->
{% endblock %}

{% block submenu %}
{% endblock %}

{% block content %}
        <table id="tasks">
            <thead>
                <tr><th colspan="100%" class="title">Available Tasks</th></tr>
                <tr>
                    <th class="task_name">Name</th>
                    <th class="description">Description</th>
                    <th class="last_run">Last Run</th>
                    <th class="buttons"></th>
                </tr>
            </thead>

            {% for key,task in tasks.items %}
                <tr id="{{key}}" class="{% cycle '' 'stripe' %}">
                    <td>{{key}}</td>
                    <td class="description">{{task.description}}</td>
                    <td class="last_run">{% if task.last_run %}{{task.last_run}}{%else%}<i>never</i>{%endif%}</td>
                    <td class="buttons">
                        {% if perms.pydra_server.can_run_tasks %}
                            <div class="button_run button" title="Run Task"></div>
                            <a class="button_schedule" href="#" title="Task Schedule"><div class="button"></div></a>
                        {% endif %}
                        <a class="button_log" href="/jobs/history/?key={{key}}" title="Task History"><div class="button"></div></a>
                    </td>
                </tr>
            {% endfor %}
        </table>

        <div id="form_container">
            {% for key,task in tasks.items %}
                {% if task.form %}
                    <div id="form_{{key}}" class="input_form">
                        <div class="inner">
                            <div class="button_close button"></div>
                            <h2><span class="label">Run:</span> {{key}}</h2>
                            <div class="description">{{task.description}}</div>
                            <ul class="errors"></ul>
                            <table>
                                {{task.form|no_escape}}
                            </table>
                            <button class="button_form_run">Run</button>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <table id="queue">
            <thead>
                <tr><th colspan="100%" class="title">Queued Jobs</th></tr>
                <tr>
                    <th class="task_id">ID</th>
                    <th class="task_name">Name</th>
                    <th class="description">Description</th>
                    <th class="queue_time">Time Queued</th>
                    <th class="buttons"></th>
                </tr>
            </thead>

            {% for task in queue %}
                <tr id="instance_{{task.id}}" class="{% cycle '' 'stripe' %}">
                    <td class="task_id">{{task.id}}</td>
                    <td class="task_key">{{task.task_key}}</td>
                    <td class="description">{{tasks|task_description:task.task_key}}</td>
                    <td class="progress" style="display:none"><div class="bar"></div></td>
                    <td class="queue_time">{{task.queued|date:"Y-m-d h:i:s"}}</td>
                    <td class="buttons">
                        {% if perms.pydra_server.can_manage_queue %}
                            <input type="button" value="Up"/>
                            <input type="button" value="Down"/>
                        {% endif %}
                        {% if perms.pydra_server.can_run_tasks %}<div class="button_cancel button" title="cancel"></div>{% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>

        <table id="running">
            <thead>
                <tr><th id="title" colspan="100%" class="title">Running Jobs</th></tr>
                <tr>
                    <th class="task_id">ID</th>
                    <th class="task_name">Name</th>
                    <th class="progress">Progress</th>
                    <th class="queue_time">Time Queued</th>
                    <th class="start_time">Time Started</th>
                    <th class="buttons"></th>
                </tr>
            </thead>

            {% for task in running %}
                <tr id="instance_{{task.id}}" class="{% cycle '' 'stripe' %}">
                    <td class="task_id">{{task.id}}</td>
                    <td class="task_name">{{task.task_key}}</td>
                    <td class="progress"><div class="bar"></div></td>
                    <td class="queue_time">{{task.queued|date:"Y-m-d h:i:s"}}</td>
                    <td class="start_time">{{task.started|date:"Y-m-d h:i:s"}}</td>
                    <td class="buttons">
                        {% if perms.pydra_server.can_run_tasks %}<div class="button_cancel button" title="cancel"></div>{% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>

    </div>
{% endblock %}
